<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>显示器管理</title>
    <link rel="stylesheet" href="/static/layui/css/layui.css"/>
</head>
<body>
<div style="margin: 5px 10px;background-color: white">
    <div class="layui-form">
        {# 搜索框#}
        <div class="layui-form-item">
            <label class="layui-form-label" style="width: auto">搜索</label>
            <div class="layui-input-inline">
                <input type="text" name="keyWords" id="keyWords" placeholder="搜索显示器编号..."
                       autocomplete="off" class="layui-input" style="width: 200px"/>
            </div>
            <label class="layui-form-label" style="width: auto">状态</label>
            <div class="layui-input-inline" style="width: 100px">
                <select id="status" lay-verify="">
                    <option value="">选择状态</option>
                    {% for status in status_list %}
                        <option value="{{ status }}">{{ status }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="site-demo-button">
                <button type="button" class="layui-btn-normal layui-btn" id="SearchBtn">搜索</button>
                <button type="button" class="layui-btn layui-btn-small" id="addDisplayBtn"><i class="fa fa-plus"
                                                                                              aria-hidden="true"></i> 添加
                </button>
            </div>
        </div>
    </div>
    <table class="layui-hide" id="displayTable" lay-filter="displayTable"></table>
</div>

<script src="/static/layui/layui.js"></script>
<script src="/static/js/display/displayManage.js"></script>
{#表头工具#}
<script type="text/html" id="topbar">
    <div class="layui-btn-container">
        <button class="layui-btn layui-btn-sm" lay-event="batchDel">批量删除</button>
    </div>

    <script type="text/html" id="toolbar">
        <a class="layui-btn layui-btn-sm" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-sm" lay-event="del">删除</a>
</script>
</body>
</html>